@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .section {
    padding: 120px 0;
  }
  /* header */
  .logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
  }
  /* hero */
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
    screen and (min-resolution: 192dpi) and (min-width: 1158px),
    screen and (min-resolution: 2dppx) and (min-width: 1158px) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-desk-2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .feature-item {
    width: calc((100% - 72px) / 4);
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }

  .feature-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
  }
  .feature-description {
    font-weight: 400;
  }
  .team-members {
    flex-wrap: nowrap;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  .footer {
    padding: 100px 0;
  }
  .footer .container {
    gap: unset;
    padding-left: 15px;
  }

  .footer-content {
    margin-right: 120px;
  }
  .footer-social {
    margin-right: auto;
  }
}
